nav {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Optionnel : centre horizontalement si nécessaire */
    height: 100px; /* Définissez une hauteur pour la barre de navigation */
    background-color: #333; /* Exemple de couleur de fond */
}

.nav-btn {
    background-color: transparent;
    color: #F1FFFA;
    border: none;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    font-family: monospace;
}

.nav-btn:hover {
    text-decoration: underline;
}

.nav-btn-image {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    height: auto;
    margin-top: 80px;
}

.nav-btn-image:hover {
    transform: scale(1.1);
}
