#carroussels {
    display: flex;
    justify-content: flex-start; /* Aligner à gauche */
    align-items: center;
    height: 100vh; /* Remplir toute la hauteur de la fenêtre */
    width: 100%;
    margin: 50px;
    position: relative;
}

.carroussel-container {
    position: relative;
    width: 500px; /* Largeur de l'élément */
    height: 500px; /* Hauteur totale de l'élément */
}

.ElementCarrousselEvent {
    position: absolute;
    transition: all 0.3s ease;
    width: 500px; /* Largeur de l'élément */
    height: 300px; /* Hauteur de l'élément */
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligne le texte en bas */
    text-align: center;
    border-radius: 20px;
    overflow: hidden; /* Empêche le texte de dépasser */
}

/* Ajout du style pour le texte */
.ElementCarrousselEvent p {
    background: rgba(0, 0, 0, 0.3); /* Fond semi-transparent */
    padding: 10px 15px;
    margin: 20px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
}


.selectionne {
    z-index: 3;
    transform: translateY(0); /* Pas de décalage pour l'élément sélectionné */
    width: 600px;
    height: 400px;
}

.dessus {
    z-index: 2;
    transform: translateY(-75px) translateX(25px); /* Déplacer l'élément vers le haut */
    width: 550px;
    height: 350px;
    background: rgba(255, 255, 255, 0.2); /* Couleur semi-transparente */
    opacity: 0.7; /* 50% de transparence */
    backdrop-filter: blur(10px); /* Applique un flou de 10px sur l’arrière-plan */
}

.dessous {
    z-index: 1;
    transform: translateY(125px) translateX(25px); /* Déplacer l'élément vers le bas */
    width: 550px;
    height: 350px;
    background: rgba(255, 255, 255, 0.2); /* Couleur semi-transparente */
    opacity: 0.7; /* 50% de transparence */
    backdrop-filter: blur(10px); /* Applique un flou de 10px sur l’arrière-plan */
}

/* Style des boutons de navigation (flèche haut et bas) */
.boutons-navigation {
    position: absolute;
    left: 35%; /* Positionné à droite du carrousel */
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-up, .btn-down {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-up img, .btn-down img {
    width: 40px;
    height: 40px;
    opacity: 0.7;
}

.btn-up:hover img, .btn-down:hover img {
    opacity: 1;
    transform: scale(1.1);
}
