.formulaire-contact {
    background-color: #D5C7BC;
    width: 65%;
    height: 60%;
    padding: 20px;
    font-size: 24px;
    font-family: monospace;
    color: #454545;

    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-40%);

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-contact p {
    font-size: 28px;
    font-weight: bold;
}

.input-sujet {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: monospace;
}

/* Zone de texte Message */
.textarea-message {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: monospace;
    resize: none;
}

/* Bouton Envoyer */
.btn-envoyer {
    background-color: #93B7BE;
    border: 3px solid #3B4EFF;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background 0.3s;
}

.btn-envoyer:hover {
    border-width: 6px; /* Augmente l'épaisseur de la bordure */
    padding: 9px 21px; /* Réduit légèrement le padding pour compenser */
}
