.formulaire-inscription {
    background-color: #D5C7BC;
    width: 40%;
    padding: 20px;
    font-size: 24px;
    font-family: monospace;
    color: #454545;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.text-inscription {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-champ {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.btn-inscription {
    background-color: #93B7BE;
    border: 3px solid #3B4EFF;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    align-self: center;
}

.btn-inscription:hover {
    border-width: 6px; /* Augmente l'épaisseur de la bordure */
    padding: 9px 21px; /* Réduit légèrement le padding pour compenser */
}

.split-container {
    display: flex;
    gap: 10px; /* Espacement entre les champs */
    width: 100%;
}

.input-nom, .input-prenom {
    width: 50%; /* Chaque champ prend la moitié de la ligne */
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
