* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    background-color: #3B4EFF;
    height: 100px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
