* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    justify-content: space-between;
    display: flex;
    padding: 20px;
    background-color: #3B4EFF;
}

.nav-btn-image {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav-btn-image:hover {
    transform: scale(1.1);
}

.image {
    width: 200px;
    height: auto;
    margin-top: 80px;
}
