/* Conteneur global des carrousels */
.carroussel-container-global {
    display: flex;
    justify-content: space-between; /* Sépare les deux carrousels */
    align-items: center; /* Centre verticalement */
    width: 100%;
    padding: 0 150px; /* Ajoute un décalage de 50px sur les côtés */
    box-sizing: border-box;
}

.title-text {
    display: block;
    width: fit-content;
    margin: 20px auto 10px auto; /* Centre et ajoute un espace en bas */
    font-size: 40px;
    color: #454545;
    padding: 12px 20px;
    border-radius: 12px;
    text-align: center; /* Centre le texte dans son bloc */
    font-weight: bold; /* Rend le texte en gras */
}

.description-text {
    display: block;
    width: fit-content;
    max-width: 80%;
    margin: 20px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    color: #F1FFFA;
    padding: 12px 20px;
    border-radius: 12px;
    text-align: center;
    white-space: pre-line; /* Permet de prendre en compte les retours à la ligne */

}

.popup-image {
    display: block;
    width: 500px;
    height: 300px;
    margin: 10px auto; /* Centre l'image et ajoute un espace */
    border-radius: 20px;
}

.description-event {
    margin : 25px;
    display: block;
    text-align: center;
    color: #454545;
    white-space: pre-line; /* Permet de prendre en compte les retours à la ligne */
    font-size: 25px;
    font-style: italic;
}

.infos-event, .infos-event-underline {
    font-size: 25px;
    font-weight: bold; /* Rend le texte en gras */
    text-align: left;
    white-space: pre-line;
    color: #454545;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
}

.underline {
    text-decoration: underline;
}

.btn-popup {
    display: flex;
    justify-content: center; /* Centre le bouton horizontalement */
    align-items: center; /* Centre le bouton verticalement */
    margin : 20px;
}

.boutons-admin-event {
    position: absolute;
    left: 500px;
    z-index: 1;
}

.boutons-admin-news {
    position: absolute;
    right: 500px;
    z-index: 1;
}

