.case-event {
    position: relative;
    width: 530px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
}

.event-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6); /* Fond noir semi-transparent */
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.event-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #007BFF; /* Couleur bleue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.event-footer-text {
    font-size: 16px;
    color: white;
    margin-left: 10px;
}

.event-footer .boutons {
    display: flex;
    gap: 10px;
}

.event-footer .boutons button {
    background: transparent;
    border: none;
    cursor: pointer;
}
