.case-event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 50px; /* Espacement entre les éléments */
    justify-content: center;
    padding: 20px; /* Ajout d'un padding pour éviter que ça colle aux bords */
}

.boutons-container {
    margin-top : 120px;
    margin-left: 50px;
    margin-bottom: 60px;
}