.PageProduit-image {
    background-color: #D5C7BC;
    width: 30%;
    height: 60%;
    padding: 20px;
    font-size: 24px;
    font-family: monospace;
    color: #454545;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-40%);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.PageProduit-image img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 620px;
}

.PageProduit-container {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-right: 50px;
}

.PageProduit-description-produit {
    background-color: #D5C7BC;
    width: 65%;
    height: 60%;
    padding: 20px;
    font-size: 24px;
    font-family: monospace;
    color: #454545;

    position: absolute;
    top: 50%;
    right: 2.5%;
    transform: translateY(-40%);

    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.PageProduit-nom-produit {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.description-produit {
    font-size: 25px;
    font-style: italic;
    white-space: pre-line;
    margin-bottom: 20px;
}

.PageProduit-actions {
    display: flex;
    flex-direction: column; /* Met les tailles au-dessus du bouton */
    align-items: flex-end; /* Aligne les éléments à droite */
    gap: 10px; /* Espacement entre les éléments */
}

.PageProduit-tailles {
    display: flex;
    gap: 10px;
}

.PageProduit-bottom {
    display: flex;
    justify-content: space-between; /* Répartit les éléments sur toute la largeur */
    align-items: center; /* Centre verticalement */
    margin-top: auto; /* Pousse l'élément vers le bas */
}

.prix-produit {
    font-size: 60px;
    font-weight: bold;
    color: #333;
    position: absolute;
    bottom: 50px; /* Place le prix tout en bas */
    left: 80px; /* Décale le prix vers la gauche */
}

.erreur {
    margin-top: 500px;
}
